<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <link rel="stylesheet" href="./css/general.css">
        <link rel="stylesheet" href="./css/<%= pageName %>.css">

        <link rel="icon" type="image/png" href="./favicon.png">

        <title>Aristotle Academy</title>

    </head>

    <body>        

        <dialog id="consentDialog">
        
            <p>Hi there! By continuing to use this website you consent to the use of cookies and other similar technologies. Additionally, by using this site, you also agree the the <a href="./tc" style="color: blue; text-decoration: underline;">terms and conditions</a> and <a href="./privacy" style="color: blue; text-decoration: underline;">privacy policy</a>.</p>
            
            <button onclick="document.getElementById('consentDialog').close(); localStorage.setItem('consented', 'true');">Ok, I accept the use of cookies, and the terms and conditions and privacy policy.</button>
            
        </dialog>

        <nav class="justify">

            <h1 id="title"><a href="./">Aristotle<img src="favicon.png" width="64px" height=64px"><br>Academy</a></h1>
            <h2><a href="./learn">Learning</a></h2>
            <h2><a href="<%= accountRoute %>"><%= accountText %></a></h2>

        </nav>

        <%- include(bodyPath) %>

        <footer class="center">

            <table>
    
                <tr>
                    
                    <td><a href="./tc">Terms and Conditions</a></td>
                    <td><a href="./privacy">Privacy Policy</a></td>
                    <td><a href="./contact">Contact</a></td>
            
                </tr>
    
            </table>
    
        </footer>

        <dialog id="loadingDialog">

            <div id="loadingAnimation"></div>

        </dialog>
    
    </body>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="./js/general.js"></script>
    <script src="./js/<%= pageName %>.js"></script>

</html>