<main>

    <p id="error"></p>

    <dialog id="changeUsernameDialog">

        <button onclick="document.getElementById('changeUsernameDialog').close()">Close</button>

        <p id="changeUsernameError"></p>

        <form>

            <label for="usernamePasswordField" class="passwordLabel">
                Please re-enter your password:
                <img class="showPassword usernamePassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword usernamePassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="usernamePasswordField" class="usernamePassword" name="usernamePasswordField">

            <label for="newUsernameField">Please enter your new username:</label>
            <input type="text" id="newUsernameField" name="newUsernameField">

        </form>

        <button id="changeUsername">Submit</button>

    </dialog>

    <dialog id="changeEmailDialog">

        <button onclick="document.getElementById('changeEmailDialog').close()">Close</button>

        <p id="changeEmailError"></p>

        <form>

            <label for="emailPasswordField" class="passwordLabel">
                Please re-enter your password:
                <img class="showPassword emailPassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword emailPassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="emailPasswordField" class="emailPassword" name="emailPasswordField">

            <label for="newEmailField">Please enter your new email:</label>
            <input type="email" id="newEmailField" name="newEmailField">

        </form>

        <button id="changeEmail">Submit</button>

    </dialog>

    <dialog id="changePasswordDialog">

        <button onclick="document.getElementById('changePasswordDialog').close()">Close</button>

        <p id="changePasswordError"></p>

        <form>

            <label for="passwordPasswordField" class="passwordLabel">
                Please enter your old password:
                <img class="showPassword passwordPassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword passwordPassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="passwordPasswordField" class="passwordPassword" name="passwordPasswordField">

            <label for="newPasswordField" class="passwordLabel">
                Please enter your new password:
                <img class="showPassword newPassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword newPassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="newPasswordField" class="newPassword" name="newPasswordField">

        </form>

        <button id="changePassword">Submit</button>

    </dialog>

    <dialog id="subDialog">

        <button onclick="document.getElementById('subDialog').close()">Close</button>

        <p id="createSubError"></p>

        <form>

            <label for="subPasswordField" class="passwordLabel">
                Please re-enter your password:
                <img class="showPassword subPassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword subPassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="subPasswordField" class="subPassword" name="subPasswordField">

            <label for="newSubTypeField">Please select your subscription type:</label>password
            <select id="newSubTypeField">

                <option>None</option>
                <option>Monthly</option>
                <option>Yearly</option>

            </select>

        </form>

        <button id="updateSub-btn">Submit</button>

    </dialog>

    <dialog id="updatePaymentDialog">

        <button onclick="document.getElementById('updatePaymentDialog').close()">Close</button>
        
        <p id="updatePaymentError"></p>
        
        <form>
        
            <label for="updatePaymentPasswordField" class="passwordLabel">Please re-enter your password:</label>
                <img class="showPassword paymentPassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword paymentPassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="updatePaymentPasswordField" class="paymentPassword" name="updatePaymentPasswordField">
        
        </form>
        
        <button id="updatePayment-btn">Submit</button>
        
    </dialog>

    <dialog id="updateSchoolDialog">

        <button onclick="document.getElementById('updateSchoolDialog').close()">Close</button>

        <p id="updateSchoolError"></p>

        <form onsubmit="return false;">

            <div id="manageSchoolButtonDiv">
            
                <button id="leaveSchool-btn" style="display: inherit;">Leave School</button>
                <button onclick="$('#joinNewSchoolDiv').show(); $('#manageSchoolButtonDiv').hide()" style="display: inherit;">Join New School</button>
            
            </div>

            <div id="joinNewSchoolDiv" style="display: none;">

                <label for="schoolAccessCode" style="display: inherit;">Enter school access code:</label>
                <input type="text" id="schoolAccessCode" name="schoolAccessCode" style="display: inherit;">
                <button id="submitSchoolAccessCode" style="display: inherit;">Submit</button>

            </div>

        </form>

    </dialog>

    <dialog id="deleteAccountDialog">

        <button onclick="document.getElementById('deleteAccountDialog').close()">Close</button>

        <p id="deleteAccountDialog"></p>

        <form>

            <label for="deletePasswordField" class="passwordLabel">Please re-enter your password:
                <img class="showPassword deletePassword" src="images/show-password.png" width="32px" height="32px">
                <img class="hidePassword deletePassword" src="images/hide-password.png" width="32px" height="32px" style="display: none;">
            </label>
            <input type="password" id="deletePasswordField" class="deletePassword" name="deletePasswordField">


        </form>

        <button id="deleteAccount">Submit</button>

    </dialog>

    <table>

        <div>
        
            <tr><td><h5>Details</h5></td></tr>

            <tr>

                <td>Account type:</td>
                <td><%= accountType %></td>

            </tr>
            
            <tr>

                <td>Username:</td>
                <td><%= username %></td>
                <td><button onclick="document.getElementById('changeUsernameDialog').showModal()">Change Username</button></td>

            </tr>

            <tr>

                <td>Email:</td>
                <td><%= email %></td>
                <td><button onclick="document.getElementById('changeEmailDialog').showModal()">Change Email</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Security</h5></td></tr>

            <tr>

                <td>Password:</td>
                <td><button onclick="document.getElementById('changePasswordDialog').showModal()">Change Password</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Payments</h5></td></tr>

            <tr>

                <td>Subscription:</td>
                <td><%= subStatus %></td>
                <td><button onclick="document.getElementById('subDialog').showModal()">Update Subscription</button></td>

            </tr>

            <tr>

                <td>Payment method:</td>
                <td><%= paymentMethod %></td>
                <td><button onclick="document.getElementById('updatePaymentDialog').showModal()">Update payment method</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>School</h5></td></tr>

            <tr>

                <td>School:</td>
                <td><%= schoolName %></td>
                <td><button onclick="document.getElementById('updateSchoolDialog').showModal()">Manage School</button></td>

            </tr>

        </div>

        <div>

            <tr><td><h5>Account</h5></td></tr>

            <tr><td><button id="signout">Signout</button></td></tr>
            <tr><td><button onclick="document.getElementById('deleteAccountDialog').showModal()">Delete Account</button></td></tr>
    
        </div>

    </table>

</main>